@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte</h1>
    <p>Vývoj na světové úrovni !!! <a href="https://github.com">GIT-HUB</a>.</p>
</div>
